:root {
  --color1-grey-blue: #4f7bb6;
  --color2-baby-blue: #66bde6;
  --color3-royal-blue: #2132c7;
  --color4-grey: #4b4b4b;
  --color5-rich-black: #050609;
  --nav-font: "Playfair Display", Playfair;
  --header-font: "Playfair Display", Playfair;
  --content-font: "Playfair Display", Playfair;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (max-width: 700px) {
  .project-container {
    display: flex;
    flex-direction: column;
    place-items: center;
  }
}

a:link {
  color: black;
  text-decoration: none;
  font-family: var(--nav-font);
}

a:visited {
  color: black;
}

.about {
  font-family: var(--content-font);
  padding: 20px;
  background-color: #99c3d6;
  margin: 50px;
  border-radius: 0.5em;
}

.container {
  background-color: var(--color1-grey-blue);
}

h1 {
  font-family: var(--header-font);
  font-size: 50px;
}

h2 {
  font-family: var(--header-font);
}

.reviews-site {
  font-family: var(--content-font);
}

.project-button:hover {
  font-weight: bolder;
  transform: scale(1.1);
}

.skills {
  font-family: var(--content-font);
}
