* {
  font-family: sans-serif;
  line-height: 1.5em;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  padding: 2em 0;
}

html {
  font-size: 16px;

  margin-top: 3em;
}

h1,
h2,
h3 {
  color: #222222;
}

header,
main,
footer {
  margin: 0 auto;
  max-width: 800px;
}

header h1 {
  font-size: 3em;
}

header span {
  font-size: 1.5em;
  color: #878787;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  flex-flow: row;
  justify-content: center;

  background: #222222;
}

nav a {
  padding: 0.5em 2em;
  text-decoration: none;
  color: #fff;
}

nav a:hover {
  background: #666;
}

section {
  margin: 1em 0;

  padding-top: 3em;
  min-height: 20em;
}

section > p {
  margin: 1em 0;
}

section ul {
  padding-left: 1.5em;
}

/* The Modal (background) */
.bioModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.bioModalContent {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#projects {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-template-rows: auto;

  grid-column-gap: 2em;
}

#projects article {
  background: #5a6d7e;
  padding: 0.5em;
}

#projects article img {
  width: 100%;
  border: 3px solid #d6d6d6;
}
ß .close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.carousel {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(207, 201, 201);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(19, 18, 18, 0.8);
}

.title {
  color: #000000;
  font-size: 16px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.imageNumber {
  color: #000000;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

footer {
  margin-top: 2em;
  margin-bottom: 1em;
  background: #222222;
  color: #fff;
  padding: 1em 0;
  text-align: center;
}
